# dependencies
**/node_modules/**

# ide
**/.idea/**
**/.vscode/**

# transpiled .js files
packages/**/dist

# coverage reports
**/coverage/**

# config
**/core/sdksetup/config*.json

# Windows download metadata
*:Zone.Identifier

# session artifacts / large logs
log-sessao*.txt
